<section class="tour">
    <div class="tour-inner">
        {{#if feature_image}}
            <img src="{{feature_image}}" alt="{{title}}">
        {{/if}}
        <h2>{{title}}</h2>
        <div class="tour-content">
            {{content}}
        </div>
    </div>
</section>